/*@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');


html {
  background-color: #ffffffd8;
}

html, body {
  font-family: 'Combo', cursive;
  max-width: 600px;
  margin: auto;
  color: rgba(0, 0, 0, 0.822);
}

body {
  background-color: rgba(83, 93, 116, 0.356);
  border: 1px solid rgba(80, 70, 70, 0.726);
  border-radius: 10px;
  padding: 20px;
  margin: 30px;
}

h1, h2, h3, h4 {
  color: #000000c4;
  font-family: 'Chewy', cursive;
}

h1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

img {
  max-width: 100%;
  border-radius: 10%;
  border: 1px solid rgba(255, 255, 255, 0.74);
}

table {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
}
tbody {
  border: 1px solid rgba(80, 70, 70, 0.726);
  border-radius: 5%;
}
th {
  border: 1.5px  solid rgba(80, 70, 70, 0.726);
  border-top: unset;
  border-left: unset;
  border-right: unset;
}
th, td {
  width: 100px;
  padding: 10px;
}

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}